body {
    font-family: sans-serif;
    min-height: 100vh; /* Ensure the page has a minimum height of the viewport */
    display: flex;
    flex-direction: column; /* Make the main section take up the full height of the page */
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

header h1 {
    text-align: center;
}

main {
    flex: 1; /* Set the main section to take up 100% of the available space */
    margin: 40px 0 40px 0;
    text-align: center;
}

.embedded-text {
    text-align: center;
}

footer {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}
