body {
    font-family: sans-serif;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

header h1 {
    text-align: center;
}

main {
    margin: 40px 0 40px 0;
    text-align: center;
}

footer {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}
